.head__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ffffff;
    padding: 2.5rem 3rem; 
    width: 100%;
}

.menu{
    list-style: none;
    display: flex;
}

.head__menu--items {
    text-decoration: none;
    color: var(--texto-blanco);
    font-family: var(--fuente);
    font-size: 1.1rem;
    font-weight: 500;
    padding-right: 1.2em;
    text-align: right;
    text-transform: uppercase;
}